.laptop {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
}

.laptop ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
}

.laptop li {
    list-style-type: none;
    margin-right: 10px;
    color:   #851111;
    ;
}

.laptop li::after {
    content: ",";
}

.laptop li:last-child::after {
    content: ".";
}

.laptop h2{
    color: #851111;
}

.description {
    text-align: left;
    line-height: 1.5em;
    color: rgb(67, 67, 67);
    margin-bottom: 30px;
}
.card-img-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img{
    max-width: 350px;
    max-height: 350px;
    
} 


